@import "tailwindcss";

@font-face {
  font-family: 'Calora';
  src: url('/Calora.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #0a0a0a;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}
